.container{
    width: 100%;
    padding: 0 200px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 150px;
}

.integrante{
    background-color: #002241;
    flex-direction: column;
}