.container{
    width: 100%;
    padding: 0 200px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 150px;
}

.integrantes{
    padding: 100px 30px 61px ;

}

.integrante{
    width: 344px;
    height: 156px;
    margin: 0px 30px 61px;

    display: flex;
    background: #002241;
    border-radius: 12px;
}

.integrante img{
    height: 215px;
    width: 215px;
    border-radius: 12px;
    transform: translateY(-59px);

}

.integrante h2{
    font-size: 24px;

}

.integrante p{
    font-size: 18px;
    opacity: 0.6;
}